<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid60" />
  <package id="SharpCifs.Std" version="0.2.13" targetFramework="monoandroid60" />
  <package id="System.Console" version="4.3.1" targetFramework="monoandroid60" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Net.NetworkInformation" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="monoandroid60" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="28.0.0.3" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="28.0.0.3" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="28.0.0.3" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="28.0.0.3" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="28.0.0.3" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="28.0.0.3" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="28.0.0.3" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="28.0.0.3" targetFramework="monoandroid60" />
  <package id="Xamarin.Forms" version="5.0.0.2401" targetFramework="monoandroid60" />
</packages>