<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" android:versionCode="5" android:versionName="1.2.0.1" package="com.github.kurema.BDVideoLibraryManager">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="30" />
	<application android:label="BDVideoLibraryManagerXF" android:icon="@drawable/icon"></application>
</manifest>